
extends ../partials/template.pug

include ../partials/code.pug


block content

  section.container.mt-5
    .row
      .col-12
        h1
          | #[span.font-weight-bold #[a(href=base+'index.html') Treemaps]]
          | &#x2014; Explicit Inner Nodes Treemap with Nominal Data

        button.pull-end.btn.btn-primary(type="button")#reload
          | Reload Page

  section.container.mt-5
    div.row
      div.col
        block canvas

          canvas(id = `canvas`).embed-responsive-item.w-100

  section.container.mt-5
    div.row
      div.col

        p.mb-1
          | CSV Content:

        textarea.form-control#csv-data(rows="25")
          | # delimiter=;
          | # ids=id
          | # parents=parent
          | # weights=a
          | # heights=b
          | # colors=c/.ts=1;.js=2;.html=3;.pug=5;.json=4;.md=6
          | # labels=name
          | id;parent;name;a;b;c
          | 1;0;a
          | 2;0;b
          | 3;0;c
          | 4;0;d
          | 5;1;.ts;0.125;0.1;.ts
          | 6;1;.js;0.25;0.1;.js
          | 7;2;.html;0.125;0.3;.html
          | 8;2;.pug;0.125;0.2;.pug
          | 9;3;.json;0.5;0.1;.json
          | 10;4;.md;0.5;0.1;.md

  section.container.mt-5
    div.row
      div.col
        p.mb-1.mt-1
          | Prepared Config:
        pre.alert.alert-secondary
          code(id = 'config-display',style="user-select: all;")

  section.container.mt-5
    div.row
      div.col
        p.mb-1.mt-1
          | Direct Link:
        pre.alert.alert-secondary
          code(id = 'data-hash',style="user-select: all;")

  section.container.mt-5
    div.row
      div.col
        +code('context-about', ' ', 'WebGL/webgl-operate Information:')
