
extends ../partials/template.pug

include ../partials/code.pug

block content

  section.container.mt-5
    .row
      .col-12
        h1
          | #[span.font-weight-bold #[a(href=base+'index.html') Treemaps]]
          | &#x2014; Implicit Inner Nodes Treemap

        button.pull-end.btn.btn-primary(type="button")#reload
          | Reload Page

        button.pull-end.btn.btn-primary(type="button")#fullscreen
          | Fullscreen


  section.container.mt-5
    div.row
      div.col
        block canvas

          canvas(id = `canvas`).embed-responsive-item.w-100

  section.container.mt-5
    div.row
      div.col

        p.mb-1
          | CSV Content:

        textarea.form-control#csv-data(rows="25")
          | # delimiter=;
          | # paths=path
          | # weights=a
          | # heights=b
          | # colors=c
          | # labels=name
          | path;name;a;b;c
          | a/e;e;0.125;0.1;0.0
          | a/f;f;0.25;0.1;0.1
          | b/g;g;0.125;0.3;0.1
          | b/h;h;0.125;0.2;0.6
          | c/i;i;0.5;0.1;0.7
          | c/j;j;0.125;0.1;1.0
          | d/k;k;0.5;0.1;0.0
          | d/l;l;0.5;0.2;0.0

  section.container.mt-5
    div.row
      div.col
        p.mb-1.mt-1
          | Prepared Config:
        pre.alert.alert-secondary
          code(id = 'config-display',style="user-select: all;")

  section.container.mt-5
    div.row
      div.col
        p.mb-1.mt-1
          | Direct Link:
        pre.alert.alert-secondary
          code(id = 'data-hash',style="user-select: all;")

  section.container.mt-5
    div.row
      div.col
        +code('context-about', ' ', 'WebGL/webgl-operate Information:')
